@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #7da379;
}

*{
    font-family: 'Montserrat';
}

li, a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.nav__links{
    list-style: none;
    display: flex;
    gap: 30px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #0088a9;
}

button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #002b5b;
    text-decoration: none;
    padding: 9px 25px;
    background-color: rgb(254, 214, 116);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(253, 140, 148, 0.8);
}

.dropdown-bil, .dropdown-reg, .dropdown-mul, .dropdown-SDGs{
    position: relative;
}

.dropdown-bil-content, .dropdown-reg-content, .dropdown-mul-content, .dropdown-SDGs-content{
    display: none;
    position: absolute;
    width: auto;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(254, 214, 116);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 5px;
    z-index: 10;
}

.dropdown-bil-content a, .dropdown-mul-content a, .dropdown-reg-content a, .dropdown-SDGs-content a{
    color: #FFF8CC;
    background-color: #fed674;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    text-align: center;
}

.dropdown-bil-content a:hover, .dropdown-reg-content a:hover, .dropdown-mul-content a:hover, .dropdown-SDGs-content a:hover{
    background-color: #facd65;
}

.dropdown-bil:hover .dropdown-bil-content, .dropdown-reg:hover .dropdown-reg-content, .dropdown-mul:hover .dropdown-mul-content, .dropdown-SDGs:hover .dropdown-SDGs-content{
    display: block;
}



.footer{
    position: absolute;
    margin:0px 0px;
}   

.column{
    font-size: 18px;
    margin: 0px 10px;
    color: #1b2f19;
}
